@import "./Variables.scss";
html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

button {
  font-family: "Montserrat", sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 5% auto 5%;
  background: $grey-color7;
  overflow: auto;
}

.container {
  grid-column-start: 2;

  .color-view {
    display: flex;
    flex-direction: column;
  }
}

.single-color-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid $grey-color5;
  > h4 {
    flex-basis: 120px;
    flex-shrink: 0;
    font-weight: normal;
  }
  .color-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;

    .color-samples {
      flex: 1;
      padding: 10px;
      position: relative;
      height: 100px;
      .color-example {
        transition: background 0.2s ease-in;
        border-radius: 8px;
        height: 100%;
        &.active {
          cursor: pointer;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.multiple-colors-view {
  display: flex;
  flex-direction: row;
  padding: 32px 0;
  border-bottom: 1px solid $grey-color5;
  > h4 {
    flex-basis: 120px;
    flex-shrink: 0;
    font-weight: normal;
  }

  .multiple-color-column {
    display: flex;
    flex: 1;
    flex-direction: column;

    .single-color-view {
      border: none;
      padding: 0;
    }
  }

  button {
    // display: none;
  }
}
