$grey-color1: rgb(28, 29, 34);
$grey-color2: rgb(54, 56, 65);
$grey-color3: rgb(80, 83, 97);
$grey-color4: rgb(106, 111, 129);
$grey-color5: rgb(145, 148, 165);
$grey-color6: rgb(187, 187, 198);
$grey-color7: rgb(227, 227, 232);

$base-color1: rgb(4, 48, 93);
$base-color2: rgb(6, 73, 140);
$base-color3: rgb(8, 98, 188);
$base-color4: rgb(10, 122, 235);
$base-color5: rgb(73, 161, 247);
$base-color6: rgb(145, 198, 250);
$base-color7: rgb(216, 235, 253);
